@import "../../sass/partials/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  display: grid;
  height: 40px;
  grid-template-columns: 40px 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  font-size: 1.125em;
  background: $color-primary;
  @include media(">=tablet") {
    grid-template-columns: 40px auto;
  }
}

.headerLink {
  font-weight: 800;
  color: $color-black;
  text-decoration: none;
}

.headerToggle {
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 40px;
  padding: 5px;
  span {
    position: absolute;
    right: 5px;
    height: 3px;
    background: $color-black;
    transition: opacity .3s,
                width .3s,
                top .5s,
                transform .5s ease-in-out;
  }
  span:nth-child(1) {
    top: 10px;
    width: calc(100% - 10px);
    transform: rotate(0deg);
  }
  span:nth-child(2) {
    top: calc(50% - 1.5px);
    width: calc(75% - 10px);
    opacity: 1;
  }
  span:nth-child(3) {
    bottom: 10px;
    width: calc(50% - 10px);
    transform: rotate(0deg);
  }
  @include media(">=tablet") { display: none; }
}

.headerToggleActive {
  span:nth-child(1) {
    top: calc(50% - 1.5px);
    width: calc(100% - 10px);
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    top: calc(50% - 1.5px);
    width: 0%;
    opacity: 0;
  }
  span:nth-child(3) {
    top: calc(50% - 1.5px);
    width: calc(100% - 10px);
    transform: rotate(-45deg);
  }
}

.headerNav > nav {
  transition: .3s ease-in-out;
  transform: translateX(-100%);
  @include media(">=tablet") {
    transition: initial;
    transform: translateX(0%);
  }
}

.headerNavActive > nav {
  transform: translateX(0%);
}